# Dynamic Generated
Driver/SmBiosTableDxe/ReleaseInfo.h
Application/BdsMenuApp/ReleaseInfo.h
Include/Resources/ReleaseInfo.h

# Local
.DS_Store
.vs
.vscode

# Variable Services: Defer
Driver/BlockRamVariableDxe
Driver/FaultTolerantWriteDxe
Driver/VariableRuntimeDxe
Library/BlockRamVariableLib

# USB: Defer
Driver/UsbTypeCDxe

# RTC: Defer
Library/QcomPmicRealTimeClockLib

# SSDT
AcpiTables/8992/generated
AcpiTables/8994/generated
AcpiTables/Hapanero/generated
Resources/ReleaseInfo.h
