# Dynamic Generated
Driver/SmBiosTableDxe/ReleaseInfo.h
Application/BdsMenuApp/ReleaseInfo.h
Include/Resources/ReleaseInfo.h

# Local
.DS_Store
.vs
.vscode

# ACPI: Until we are able to compile it on the fly
*.dsl

# Variable Services: Defer
Driver/BlockRamVariableDxe
Driver/FaultTolerantWriteDxe
Driver/VariableRuntimeDxe
Library/BlockRamVariableLib

# USB: Defer
Driver/UsbTypeCDxe

# RTC: Defer
Library/QcomPmicRealTimeClockLib