# Dynamic Generated
Driver/SmBiosTableDxe/ReleaseInfo.h

# Local
.DS_Store
.vs
.vscode

# ACPI: Until we are able to compile it on the fly
*.dsl

# Variable Services: Defer
Driver/BlockRamVariableDxe
Driver/FaultTolerantWriteDxe
Driver/VariableRuntimeDxe
Library/BlockRamVariableLib

# PCI Express: Not release in public for now
Driver/PCIExpressConfiguratorDxe
Library/PCIExpress

# USB: Defer
Driver/UsbTypeCDxe

# RTC: Defer
Library/QcomPmicRealTimeClockLib
