[submodule "MU_BASECORE"]
	path = MU_BASECORE
	url = https://github.com/microsoft/mu_basecore.git
	branch = release/202208
[submodule "Common/MU_TIANO"]
	path = Common/MU_TIANO
	url = https://github.com/microsoft/mu_tiano_plus.git
	branch = release/202208
[submodule "Common/MU"]
	path = Common/MU
	url = https://github.com/microsoft/mu_plus.git
	branch = release/202208
[submodule "Common/MU_OEM_SAMPLE"]
	path = Common/MU_OEM_SAMPLE
	url = https://github.com/microsoft/mu_oem_sample.git
	branch = release/202208
[submodule "Silicon/Arm/MU_TIANO"]
	path = Silicon/Arm/MU_TIANO
	url = https://github.com/microsoft/mu_silicon_arm_tiano.git
	branch = release/202208
[submodule "Features/DFCI"]
	path = Features/DFCI
	url = https://github.com/microsoft/mu_feature_dfci
[submodule "Features/CONFIG"]
	path = Features/CONFIG
	url = https://github.com/microsoft/mu_feature_config.git
